@inherits LayoutComponentBase

<NavMenu />

<main class="container-fluid py-4">
    <article class="content">
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
